.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../../assets/background.png'), lightgray -160px 0px / 111.113% 100% no-repeat;
}
@media screen and (max-width: 900px){
    .main{
        overflow-y: auto;
    }
}